.nav {
    width: 100%;
    box-sizing: border-box;

    .nav-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-brand-container {
        padding: 25px 25px 0 25px;
    }

    a {
        color: $heading-color;
        cursor: pointer;
        font-family: $font-heading;
        font-size: 1.4em;
        font-weight: bold;

        &:hover {
            color: $light-blue;
        }
    }

    .nav-border {
        width: 100%;
        max-width: 300px;
        border-top: 1px solid $light-blue;
    }

    .nav-icons {
        margin-right: 12px;
    }

    .nav-icons a svg {
        font-size: 30px;
        color: $blue;
        margin-right: 15px;
        cursor: pointer;
        margin-bottom: -15px;

        &:hover {
            color: $dark-blue;
        }
    }
}