@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@400;700&display=swap');

$font-heading: 'Abel', sans-serif;
$font-paragraph: 'Open Sans', sans-serif;

$font-color: #738088;
$heading-color: #4c555a;

$background-color: #f2f2f5;

$blue: #92AFD7;
$light-blue: #C5D1EB;
$dark-blue: #5A7684;
$green: #395B50;
$dark-green: #1F2F16;

$off-white: #efefef;
$light-grey: #939da3;