<nav class="nav">
    <div class="nav-content">
        <div class="nav-brand-container">
            <a class="nav-brand" href="/">My Blog</a>
        </div>
        <div class="nav-icons">
            <a href=""><i class="fab fa-github"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
    <div class="nav-border"></div>
</nav>