<div class="header">
    <h1>My Blog</h1>
    <div class="blog-owner">
        <p>Firstname Lastname</p>
        <p>|</p>
        <a href="">MyName</a>
    </div>
    <div class="border"></div>
</div>